<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style type="text/css">
            body{
                font-family:sans-serif;
                margin:0px;
            }
            table{
                border-collapse: collapse;
            }
            thead td{
                background-image:linear-gradient(to bottom right,navy,dodgerblue);
                width:100%;
                text-align: center;
                color:white;
                text-transform: uppercase;
                padding:30px;
                box-sizing: border-box;
            }
            
            
            
            h3{
                color:navy;
                text-transform:uppercase;
            }
            .info-item{
                display:block;
                
            }
            
            
            @media only screen and (min-width:600px){
                .info-item{
                    width:50% !important;
                    display:table-cell !important;
                    
                }
                
                .yeet{
                    width:50% !important;
                }
            }
        
        </style>
    </head>
    <body style="font-family: sans-serif;margin: 0px;">
        <table style="width: 100%;border-collapse: collapse;">
            <thead>
                <tr>
                    <td style="background-image: linear-gradient(to bottom right,navy,dodgerblue);width: 100%;text-align: center;color: white;text-transform: uppercase;padding: 30px;box-sizing: border-box;">
                        <h1><span>Airside transfer </span>Booking Summary</h1>
                    </td>
                    
                </tr>
            </thead>
            <tbody>
            
            
            <tr>
                <td style="width:100%;">
                    <table style="border-collapse: collapse;">
                        <tbody>
                            <tr>
                                <td style="padding:30px 30px 0 30px;">
                                    <h3 style="color: navy;text-transform: uppercase;">Transfer Details</h3>
                                    <hr>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width:100%;border-collapse: collapse;" class="table1">
                        <tr class="yeet" style="width:100%;float:left">
                            <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;"><span>hello</span></td>
                        </tr>
                          <tr class="yeet" style="width:100%;float:left">
                            <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">hello</td>
                        </tr>
                         <tr class="yeet" style="width:50%;float:left">
                            <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">hello</td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                </td>
                </tr>
            
                <tr>
                    <td style="width:100%;">
                        <table style="border-collapse: collapse;">
                            <tr>
                                <td style="padding:30px 30px 0 30px;">
                                    <h3 style="color: navy;text-transform: uppercase;">Flight Details</h3>
                                    <hr>
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;border-collapse: collapse;">
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;">
                        <table style="border-collapse: collapse;">
                            <tr>
                                <td style="padding:30px 30px 0 30px;">
                                    <h3 style="color: navy;text-transform: uppercase;">Patient Details</h3>
                                    <hr>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;border-collapse: collapse;">
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                 <tr>
                    <td>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%;">
                        <table style="border-collapse: collapse;">
                            <tr>
                                <td style="padding:30px 30px 0 30px;">
                                    <h3 style="color: navy;text-transform: uppercase;">Booking Details</h3>
                                    <hr>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width: 100%;border-collapse: collapse;">
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello</span>
                                </td>
                                <td class="info-item" style="width: 100%;padding: 15px 30px;box-sizing: border-box;display: block;">
                                    <span>hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold hello this is a lot more inf ormation to hold</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                
            </tfoot>
        </table>
    </body>
</html>

